.catagories img{
    width: 100px;
}
.panda-slide .carousel-item{
    background-color: #f1dde6;
    border-radius: 1em;
}
.body{
    font-family: 'Poppins', sans-serif;
}
.bag{
    color: navy;
}
.image{
    width: 100px;
}